
<!--Footer-->
<footer class="page-footer mdb-color center-on-small-only">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 ">
                
                <img src="assets/img/logo.png" height="80" alt="Bag2Bag">
                <ul class="contact-icons">
                                  
                                    <li><i class="fa fa-phone"></i>
                                        <p>+91-7760829942</p>
                                    </li>

                                    <li><i class="fa fa-envelope"></i>
                                        <p>care@bag2bag.in</p>
                                    </li>
                                    <li><i class="fa fa-map-marker"></i>
                                      <p>#51, 1st floor Alok Nagar adhartal, Jabalpur - 482004, India.</p>
                                  </li>
                                </ul>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2 ">
                <h5 class="title footer-title">Bag2Bag</h5>
                <ul>
                    <li><a href="#!">FAQs</a></li>
                    <li><a href="#!">About Us</a></li>
                    <li><a href="#!">Contact Us</a></li>
                    <li><a href="#!">Guest Policies</a></li>
                    <li><a href="#!">Privacy Policy</a></li>
                    <li><a href="#!">Terms and Condition</a></li>
                </ul>

            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title footer-title">Business</h5>
                <ul>
                    <li><a href="#!">Partner Hotels</a></li>
                    <li><a href="#!">Register Your Hotel</a></li>
                    <li><a href="#!">Bag2Bag for Business</a></li>
                   
                </ul>
   
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-md-3">
                <h5 class="title footer-title">Partner Hotels</h5>
                <ul>
                    <li><a href="#!"> Hotels in Bangalore</a></li>
                    <li><a href="#!">Hotels in Shirdi</a></li>
  
                </ul>
            </div>
            <!--/.Fourth column-->
            

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <!--
    <div class="call-to-action">
        <ul>
            <li>
                <h5>Register for free</h5>
            </li>
            <li><a href="" class="btn btn-danger waves-light" mdbRippleRadius>Sign up!</a></li>
        </ul>
    </div>
  -->
    <!--/.Call to action-->

    <hr>

    <!--Social buttons-->
    <div class="text-center mb-3">

        <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
        <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
        <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
        <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
        <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
        <a class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
        <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: <a href="http://bag2bag.in"> Gepack Storail services India Private Limited. All Rights Reserved </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
 